/*  COLORS:
    #ffd5d6 - pink
    #eccc68 - yellow
*/

/* Setting styles for main elements */
.body{
  background-color: #fffffe;
  display: flex;
  justify-content: center;
}

.container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
}

/* Setting styles for header */
.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-nav {
  width:33%;
}

.logo {
  width: 33%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image{
  height:100%;
}

.right-nav{
  width:33%;
}

.nav-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link{
  text-decoration: none;
  color: #000000;
  font-family:"Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  font-weight:400;
}

.nav-link:hover, .active{
  transition: 0.5s;
  color: #ffd5d6;
}

/* Setting styles for hero section */
.main{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:60px;
}

.hero-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height: 400px;
}

.hero-left{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-left-title{
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size:48px;
  line-height: 56px;
  font-weight: bold;
  margin-bottom:30px;
}

.hero-left-text{
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size:16px;
  font-weight: regular;
  margin-bottom:40px;
  line-height: 20px;
}

.hero-btns{
  display: flex;
  flex-direction: row;
}

.hero-left-btn{
  width:150px;
  height:40px;
  border-radius: 30px;
  background-color: #eccc68;
  display:flex;
  align-items: center;
  justify-content: center;
}

.hero-left-btn-link:hover .hero-left-btn{
  transition: 0.5s;
  background-color: #ffd5d6;
  color:#ffffff;
  box-shadow: 0 3px 13px rgba(255,213,214,0.8);
}

.hero-left-btn-link{
  text-decoration: none;
  color: #f1f2f6;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  width:150px;
}

.border-btn{
  width:150px;
  height:40px;
  border: 1px solid #eccc68;
  color: #eccc68;
  font-family: "Montserrat", "Roboto", sans-serif;
  border-radius: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.hero-right-btn-link:hover .border-btn{
  transition: 0.5s;
  background-color: #ffd5d6;
  color:#ffffff;
  box-shadow: 0 3px 13px rgba(255,213,214,0.8);
  border-color: #ffd5d6;
}

.hero-right-btn-link:hover{
  color: #ffffff;
}

.hero-right-btn-link{
  margin-left:20px;
  text-decoration: none;
  color: #eccc68;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  width:150px;
}

.hero-right{
  width:50%;
}

.hero-right-image-container{
  height: 400px;
  width: 600px;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius: 60px;
}

.hero-right-image{
  width: 100%;
}

/* Event section styling */
.events-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:140px;
}

.events-title{
  font-family: "Amatic SC","Montserrat", "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom:110px;
}

.left-event{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.left-photo{
  height:350px;
  width:500px;
  background-color: black;
  overflow:hidden;
  border-radius: 40px;
}

.left-photo-image{
  width:100%;
}

.left-description{
  margin-left:60px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:350px;
  width:640px;
}

.description-title{
  font-size: 24px;
  font-weight: 600;
  color: #eccc68;
  font-family: "Montserrat", "Roboto", sans-serif;
}

.description-date{
  font-size:16px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:300px;
  font-style: italic;
  margin-top:15px;
}

.description-description{
  font-size:18px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:400px;
  margin-top:25px;
  line-height: 20px;
}

.description-button{
  margin-top:30px;
  text-decoration: none;
  width:150px;
}

.description-button:hover .border-btn{
  transition: 0.5s;
  background-color: #ffd5d6;
  color:#ffffff;
  box-shadow: 0 3px 13px rgba(255,213,214,0.8);
  border-color: #ffd5d6;
}

.right-event{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.right-description{
  margin-right:60px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:350px;
  width:640px;
  align-items: flex-end;
}

.description-description-right{
  text-align: right;
}

/* Sponsors section styling */
.sponsors-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:130px;
}

.sponsors-title{
  font-family: "Amatic SC","Montserrat", "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom:70px;
}

.sponsors-slider{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap:nowrap;
  align-items: center;
}

.left-controller{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100px;
  height:100px;
}

.left-controller-round{
  width:60px;
  height:60px;
  border-radius:200px;
  background-color: #eccc68;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left:10px;
  cursor:pointer;
}

.left-controller-round:hover{
  background-color:#ffd5d6;
  box-shadow: 0 3px 13px rgba(255,213,214,0.8);
}

.right-controller{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100px;
  height:100px;
}

.right-controller-round{
  width:60px;
  height:60px;
  border-radius:50px;
  background-color: #eccc68;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-right:10px;
  cursor: pointer;
}

.right-controller-round:hover{
  background-color:#ffd5d6;
  box-shadow: 0 3px 13px rgba(255,213,214,0.8);
}

.controller-icon{
  width:50%;
  height:50%;
}

.sponsors-container{
  overflow:hidden;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:1000px;
  height:450px;
}

.active-sponsor{
  width:550px;
  overflow:hidden;
  /* background-color: red; */
  position: relative;
  height:400px;
}

.sponsor-block{
  width: 550px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top:50px;
  margin-bottom:50px; */
  display:none;
  position:absolute;
  top:25px;
}

.active-slide{
  display:block;
  width: 550px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.sponsor-image{
  width:200px;
  overflow:hidden;
  margin-bottom:10px;
}

.sponsor-image-file{
  width:100%;
}

.sponsors-name{
  margin-top:20px;
  font-size:24px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:600;
  text-align: center;
  margin-bottom: 10px;
}

.sponsor-description{
  font-size:18px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:400px;
  text-align: center;
  line-height: 20px;
}

.sponsor-link{
  text-decoration: none;
  margin-top:35px;
}

.sponsor-link:hover .border-btn{
  transition: 0.5s;
  background-color: #ffd5d6;
  color:#ffffff;
  box-shadow: 0 3px 13px rgba(255,213,214,0.8);
  border-color: #ffd5d6;
}

/* About us section styles */
.about-us-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:80px;
}

.about-us-title{
  font-family: "Amatic SC","Montserrat", "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom:60px;
}

.about-us-image{
  width:100%;
  overflow: hidden;
  border-radius: 20px;
}

.about-us-image-link{
  width:100%;
}

.about-us-text{
  font-size:18px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:400px;
  margin-top:25px;
  line-height: 20px;
  text-align: center;
}

.about-us-text p{
  margin-bottom: 30px;
}

/* What we do section styles */
.what-we-do-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:120px;
}

.what-we-do-title{
  font-family: "Amatic SC","Montserrat", "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom:60px;
}

.what-we-do-images{
  display:flex;
  flex-direction: row;
  height:200px;
  overflow:hidden;
  margin-bottom:20px;
}

.what-we-do-images-link{
  width:33%;
}

.what-we-do-text{
  font-size:18px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:400px;
  margin-top:25px;
  line-height: 20px;
  text-align: center;
}

.what-we-do-text p{
  margin-bottom: 30px;
}

/* Footers styles */
.footer{
  margin-top: 50px;
  height: 250px;
  width: 100vw;
  background-color: #2d3436;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer-container{
  width:1200px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-left{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:20%;
}

.footer-nav-list{
  margin-top:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.footer-nav-item{
  margin-bottom: 10px;
  text-align: center;
}

.footer-nav-item-link{
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  font-weight:400;
}

.footer-nav-item-link:hover{
  transition: 0.5s;
  color: #eccc68;
}

.footer-center{
  width:150px;
  height:150px;
}

.footer-logo{
  width:100%;
  height:100%;
}

.footer-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right-title{
  font-family: "Amatic SC","Montserrat", "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color:#ffffff;
  text-align: left;
  margin-bottom:15px;
}

.footer-right-text{
  font-size:15px;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight:300px;
  line-height: 20px;
  text-align: left;
  color:#ffffff;
}

.footer-right-donate{
  text-decoration: none;
  margin-top:20px;
}

.footer-right-donate .border-btn{
  width:150px;
  height:35px;
}

.footer-right-donate:hover .border-btn{
  transition: 0.5s;
  background-color: #ffd5d6;
  color:#ffffff;
  box-shadow: 0 3px 13px rgba(255,213,214,0.4);
  border-color: #ffd5d6;
}
